{% extends 'base/base.html.twig' %}
{% block top_header %}
    <div class="container" style="background-color:slategray; color: white; font-weight: bolder">
        <span>Login</span>
    </div>
{% endblock %}