{% extends 'base/base.html.twig' %}
{% block content %}
    <div class="travel-story-container box">
        <div class="travel-story-content">
            <div class="description">
                <h4 class="skin-color">About Us</h4>
                <p>We attribute Runaway With Me's success to our company culture built on human learning and emotional intelligence. And based on that, we understand that no matter the location, the most important part that builds a travelling experience is who you build it with.</p>
            </div>
        </div>
    </div>
{% endblock %}